<!DOCTYPE html>
<html>
<head>
    <title>My Cookbook - 레시피 목록</title>
</head>
<body>
    <form action="{% url 'recipes:recommendation' %}" method="POST">
        {% csrf_token %}
        <label for="ingredients">가지고 있는 재료:</label>
        <input type="text" id="ingredients" name="ingredients" placeholder="재료를 입력하세요">
        <button type="submit">요리 추천</button>
    </form>
    <a href="{% url 'recipes:add_recipe' %}">
        <button type="button">ADD RECIPE</button>
    </a>

    <a href="{% url 'main_pages:index' %}">
        <button type="button">MAIN PAGE</button>
    </a>

    <h1>레시피 목록</h1>
    <ul>
        {% for recipe in recipes %}
            <li>
                <a href="{% url 'recipes:detail' recipe.id %}">{{ recipe.name }}</a>
                <form action="{% url 'recipes:delete_recipe' recipe.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">삭제</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>