<!DOCTYPE html>
<html>
<head>
    <title>My Cookbook - 요리 추천</title>
    <a href="{% url 'recipes:recipe_list' %}" class="btn">레시피 목록으로 돌아가기</a>
</head>
<body>
    <h1>요리 추천</h1>
    <form action="{% url 'recipes:recommendation' %}" method="POST">
        {% csrf_token %}
        <label for="ingredients">가지고 있는 재료:</label>
        <input type="text" id="ingredients" name="ingredients" placeholder="재료를 입력하세요">
        <button type="submit">요리 추천</button>
    </form>
    {% if recipes %}
        <h2>추천 요리:</h2>
        <ul>
            {% for recipe in recipes %}
                <li>{{ recipe.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <li>가진 재료로 할 수 있는 요리가 없습니다. 다른 재료로 시도해보세요!</li>
    {% endif %}
</body>
</html>
