<!DOCTYPE html>
<html>
<head>
    <title>메인 페이지</title>
    <style>
        .intro-container {
            text-align: center;
            margin-top: 100px;
        }
        .intro-text {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .btn-recommend {
            padding: 10px 20px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="intro-container">
        <h1>COOKBOOK사이트에 오신걸 환영합니다!</h1>
        <div class="intro-text">
            <p>여기에서 가지고 있는 재료로 할 수 있는 요리를 찾아보세요.</p>
        </div>
        <a href="/recipes" class="btn-recommend">요리 추천</a>
    </div>
</body>
</html>